<!DOCTYPE html>
<htm>
    <head>
        <title>Rajiul's Blog</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Rajiul's Blog</a></h1>
        </header>

        <article>
            <time>Published: 24.02.2024, 13:21</time>
            <h2><a href="">My First Post</a></h2>
            <p>Nothing to write. There is nothing literally in my mind to write.</p>
        </article>

        <article>
            <time>Published: 24.02.2024, 13:22</time>
            <h2><a href="">My Second Post</a></h2>
            <p>Nothing to write. There is nothing literally in my mind to write.</p>
        </article>
    </body>
</htm>